@import url(https://fonts.googleapis.com/css?family=Lora);

body {
    font-size: 100%;
    font-family: 'Lora', serif;
  }
  
  .blockquote {
    margin: 3.7em auto;
    padding: 2em;
    background: linear-gradient(white, white) padding-box, url(https://img.freepik.com/fotos-premium/pintura-liquida-realista-abstracta-efecto-marmoleado-tecnica-arte-fluido-salpicaduras-flujos-gotas-trazos-pintura-textura-fondo-rosa-acrilico-papel-pintado-cubiertas-envoltura-tela-embalaje_245580-535.jpg) border-box  0 / cover;
    border: 2em solid transparent;
    border-radius: 1em;
    box-shadow: 5px 3px 30px black;
    font-family: 'Lora', serif;
    font-style: italic;
    line-height: 1.5;
    width: 50%;
  }
  
  footer {
    padding-top: 5%;
  }

  