@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

#home{
    margin-top: -16px;
}
#cardbanner {
    margin: auto;  
    text-align: left;
} 
#cardbody{
    background-color:  rgb(246, 246, 238);
    border: none;
}


/* ---------- HEADER HOME ----------------- */

.page-header { 
    background: url("http://localhost:3000/img/bannerhome.jpg")no-repeat; 
    position: relative; 
    background-size: cover; 
    margin-top: 115px;
    height: 700px;
}
.title-header{
    font-family: 'Playfair', serif;
    font-weight: 500;
    font-size: 5rem;
    color: whitesmoke;
}
.subtitle-header{
    font-family: 'Playfair', serif;
    font-weight: 400;
    font-size: 2rem;
    color: whitesmoke;
}
.textBanner {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: whitesmoke;
    padding-right: 40rem;
}

@media (max-width:600px) {

    .page-header{
        background-size: cover;
        background-position: center;
        margin-top: 100px;
        height: 600px;
    }

    .textBanner{
       padding-right: 0rem; 
    }

    .title-header{
        font-size: 3.5rem;
    }

    .subtitle-header{
        font-size: 1.5rem;
    }
}

.btnHeader{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-radius: 30px;
    border: solid 1px #ffffff;
    padding: 10px 20px;
}

.btnHeader:hover{
    background-color: #f7e6d3;
    border: solid 1px #f7e6d3;
}



/* ---------- CARRUSEL ----------------- */



.sugerencias-tak-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    font-family: 'Playfair', serif;
    font-weight: 600;
    font-size: 50px;
    color: #636b5f;
}
.carouselTitle{
    font-family: 'Playfair', serif;
    font-weight: 500;
    font-size: 70px;
    color: whitesmoke;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.btn-carrusel{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    border-radius: 30px;
    border: solid 1px #ffffff;
    padding: 10px 20px;
    margin-bottom: 150px;
}

.btn-carrusel:hover{
    background-color: #ffffff;
    border: solid 1px #ffffff;
}

.carousel-item img{
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

#carousel{  
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bannerimg{
    border-radius: 50%;
}

@media (max-width:600px) {
    .sugerencias-tak-home{
        margin-top: -150px;
        margin-bottom: -70px;
        font-size: 40px;
        text-align: center;
    }

    .carousel-item img{
        height: 400px;
    }

    .carouselTitle{
        display: flex;
        font-size: 10px;
        text-align: center;
        justify-content: center;
        margin-bottom: 0px;
    }
}


/* ---------- TESTIMONIOS ----------------- */

.title-testimonios{
    font-family: 'Playfair', serif;
    font-weight: 600;
    font-size: 50px;
    color: #636b5f;

    margin-top: 150px;
}

.card-testimonio-body{
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px hwb(0 27% 73% / 0.2);
}

.card-testimonio-img{
    margin-bottom: 20px;
    border-radius: 50px;
    box-shadow: 0px 5px 6px hwb(0 27% 73% / 0.7)
}

.card-testimonio-title{
    font-family: 'Playfair', serif;
    font-weight: 500;
    font-size: 22px;
}

.card-testimonio-text{
    font-family: 'Roboto', serif;
    font-weight: 300;
    font-size: 16px;
}

@media (max-width:600px) {
    .title-testimonios{
        font-size: 40px;
        margin-left: -50px ;
        text-align: center;
        margin-top: 50px;
        width: 300px;
    }

    .card-testimonio-body{
        margin-bottom: 15px;
    }
}







/* #imgbanner{
    object-fit: cover;
} */


/* 

.carousel {
    margin-top: 30px;
    margin-bottom: 50px;
    

}
.cardimgtop {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
}
.gtco-testimonials {
    position: relative;
    margin-top: 30px;
}
#cardtestimonials {
    background-color: rgb(249, 249, 245);
    border-radius: 5%;
}
#testimonials {
    margin-left: 11%;
} 
 */