@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

body {
    background-color: rgb(246, 246, 238);
}
#navbar{
    background-color: rgb(255, 255, 255);
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.nav-item{
    color: black;
}

#navbarli{
    color: chartreuse; 
}

#footer{
    font-family:'Montserrat', sans-serif;
    background-color: rgb(72, 47, 65);
    color: rgb(249, 249, 245);
}

#buttonav{
    background-color: rgb(72, 47, 65);
}

/* banner */
.page-header { background: url(https://ychef.files.bbci.co.uk/1280x720/p0bzmxtx.jpg)no-repeat; position: relative; background-size: cover; margin-top: 0%; }
.page-caption { padding-top: 11em; padding-bottom: 9em; }

.card-section { position: relative; bottom: 11em; font-family: 'Montserrat', sans-serif;}
.card-block { padding: 4em; }
.section-title { margin-bottom: 3em; }

#challengeCard{
    border-radius: 3%;
    box-shadow: 0 0 50px #ccc;
}




