@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

body {
    background-color: rgb(246, 246, 238);
}
#navbar{
    background-color: rgb(255, 255, 255);
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.nav-item{
    color: black;
}

#footer{
    font-family:'Montserrat', sans-serif;
    background-color: rgb(72, 47, 65);
    color: rgb(249, 249, 245);
}

