@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* ------------------ CONTENEDOR --------------------- */

.cont-panel{
    height: 100vh;
    margin-top: 150px;
    margin-bottom: -90px;
}

.title-panel{
    font-family: 'Playfair', serif;
    font-weight: 500;
    font-size: 50px;
    color: 333233;

    margin-left: 15px;
}