@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* ------------------ CONTENEDOR --------------------- */

.cont-register{
    height: 100vh;
    margin-top: 150px;
    margin-bottom: -100px;
}

.form-cont{
    margin-bottom: -100px;
}

/* .img-register{
    display: flex;
    justify-content: center;
    width: 550px;
    margin-top: 50px;
} */

.title-register{
    font-family: 'Playfair', serif;
    font-weight: 500;
    font-size: 50px;
    color: 333233;

    margin-left: 15px;
}
/* //-------------------------------------------------------------------------------------------- */
.bodyform{
    height: 100vh;
    margin-bottom: -90px;
}

.registration-form{
    display: flex;
    justify-content: center;
    text-align: center;
	padding: 50px 0;
    margin-top: 100px;
    margin-bottom: -150px;
    border-radius: 50px;
}

.registration-form form{
    background-color: #f7e6d3;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-radius: 30px; 
    /* border-top-right-radius: 30px; */
    box-shadow: 0 0 50px 5px #acafac;
}

.registration-form .form-icon{
	text-align: center;
    background-color: #f7e6d3;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    border: none;
    margin-bottom: 25px;
    padding: 10px 20px;
    background-color: white;
}
.registration-form .item:focus{
	box-shadow: none;
}
.registration-form .item:hover{
	box-shadow: none;
}

.registration-form .create-account{
    justify-self: center;
    border-radius: 30px;
    padding: 10px 20px;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    background-color: #636b5f;
    border: none;
    color: white;
    margin-top: 20px;
}
.registro{
    font-family: 'Playfair', serif;
    margin-bottom: 25px;
    color:  #636b5f;
}

@media (max-width: 576px) {

    .registration-form form{
        padding: 50px 30px;
        
    }
}
input:valid {
    border-color:#636b5f;
  }
input:invalid {
    border: 2px solid rgb(240, 175, 210);
  }
  