@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* ------------------ CONTENEDORES --------------------- */


.content-respira-page{
    width: 100%;
}
.respira-content{
    margin-bottom: -90px;
    padding: 120px;
    height: 100vh;
    width: 100%;
    background-image: url("http://localhost:3000/img/bg-respira.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.circle-box{
    background-color: #01010165;
    width: 350px;
    margin-left: 150px;
    margin-top: 200px;
    border-radius: 20px;
}

@media (max-width:600px){
    .circle-box{
        background-color: #57a82e00;
        margin-top: 0px;
        margin-left: 0px;
        width: 500px;
    }
}

/* ------------------ TITULO --------------------- */
.respira-title{
    justify-content: center;
    text-align: left;
    margin-top: 200px;

    font-family: 'Playfair', serif;
    font-weight: 600;
    font-size: 70px;
    line-height:70px;

    color: #ffffff;
}

@media (max-width:600px){
    .respira-title{
        margin-top: 0px;
        width: 350px;
        text-align: center;
        margin-left: -100px;
        
        font-size: 40px;
        line-height: 40px;
        
    }
}

/* ------------------ TEXTO --------------------- */

.respira-text{
    display: flex;
    justify-content: center;
    text-align: left ;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    line-height: 25px;

}

@media (max-width:600px){
    .respira-text{
        font-size: 15px;
        line-height: 16px;
        width: 350px;

        text-align: center;
        margin-left: -100px;
    }
}


/* ------------------ CIRCULO --------------------- */
.circle {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 7em;

    animation-name: respiracion;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
@keyframes respiracion {
    0% {
        background-color: #836d99;
        transform: scale(1);
    }

    25% {
        background-color: #ae96c7;
        transform: scale(4);
    }

    55%{
        background-color: #ae96c7;
        transform: scale(4);
    }

    100% {
        background-color:#ae96c7;
        transform: scale(1);
    }
}

/* ------------------ CONTENEDOR INHALA, MANTIENE, EXHALA --------------------- */
.textContent {
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 50px;
    width: 200px;
}

@media (max-width:600px){
    .textContent{
        margin-left: -25px;
    }
}

/* ------------------ INHALA --------------------- */

.inhala {
    font-family: 'Playfair', serif;
    font-size: 40px;
    font-weight: 700;
    color: #f7e6d3;

    animation-name: inhala;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
@keyframes inhala {
    0%{
        opacity: 0;
    }

    5% {
        opacity: 100;
    }

    18% {
        opacity: 100;
    }

    23%{
        opacity: 0;
    }

    85% {
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
    
}

/* ------------------ MANTINE --------------------- */

.mantiene {
    font-family: 'Playfair', serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: -60px;
    color: #f7e6d3;

    animation-name: mantiene;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
@keyframes mantiene{

        0%{
            opacity: 0;
        }

        20%{
            opacity: 0;
        }

        25%{
            opacity: 100;
        }

        50%{
            opacity: 100;
        }

        53%{
            opacity: 0;
        }

        100%{
            opacity: 0;
        }

}

/* ------------------ EXHALA --------------------- */
.exhala {
    font-family: 'Playfair', serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: -60px;
    color: #f7e6d3;

    animation-name: exhala;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
@keyframes exhala {
    0%{
        opacity: 0;
    }

    40%{
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    55% {
        opacity: 100;
    }

    95%{
        opacity: 100;
    }

    100%{
        opacity: 0;
    }

  
}