.circle {
    margin: auto;
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 7em;

    animation-name: respiracion;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes respiracion {
    0% {
        background-color: blue;
        transform: scale(1);
    }

    50% {
        background-color: rgb(32, 147, 255);
        transform: scale(4);
    }

    100% {
        background-color: blue;
        transform: scale(1);
    }
}

.textContent {
    margin: auto;
    text-align: center;
    margin-top: 100px;
    height: 40px;
    width: 200px;
}

.inhala {
    font-size: 40px;
    font-weight: 700;

    animation-name: inhala;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes inhala {
    0%{
        opacity: 100;
    }

    10% {
        opacity: 100;
    }

    25% {
        opacity: 100;
    }

    45%{
        opacity: 0;
    }

    85% {
        opacity: 0;
    }

    100%{
        opacity: 100;
    }
    
}
.exhala {
    font-size: 40px;
    font-weight: 700;
    margin-top: -60px;

    animation-name: exhala;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes exhala {
    0%{
        opacity: 0;
    }

    40%{
        opacity: 0;
    }

    55% {
        opacity: 100;
    }

    70% {
        opacity: 100;
    }

    90%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }

  
}