@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');



/* ---------------------- CONTENEDOR GENERAL --------------------- */

.tak-contenedor{
    margin-top: 120px;
}

/* ---------------------- TAK EN DANES --------------------- */

.banner-left{
    background-color: rgba(0, 0, 0, 0);
}

.banner-left-card{
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 150px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px hwb(0 27% 73% / 0.2);
}

.img-banner-left{
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: right;
    height: 400px;
    margin: 15px 10px;
}

.title-banner-left{
    font-family: 'Playfair', serif;
    font-weight: 600;
    font-size: 60px;
    color: #333233;
    margin-top: 90px;

}

.text-banner-left{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

@media (max-width:600px) {
    .img-banner-left{
        height: 320px;
        margin-top: 30px;
    }

    .title-banner-left{
        font-size: 40px;
        margin-top: 10px;
    }

    .text-banner-left{
        font-size: 15px;
        text-align: justify;
    }
}


/* ---------------------- MINDFULNESS Y AGRADECIMIENTO --------------------- */

.banner-right{
    margin-top: 100px;
}

.banner-right-card{
    margin-top: 80px;
}

.title-banner-right{
    font-family: 'Playfair', serif;
    font-weight: 600;
    font-size: 60px;
    color: #333233;
}

.text-banner-right{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    
}

.img-banner-right{
    height: 400px;
    margin-bottom: 100px;
    margin-left: 150px;
}

@media (max-width:600px) {
    .img-banner-right{
        display: none;
    }

    .title-banner-right{
        font-size: 40px;
        margin-top: -50px;
    }

    .text-banner-right{
        font-size: 15px;
        text-align: justify;
    }
}


/* ---------------------- UNETE A TAK --------------------- */

.unete-content {
    background: url("http://localhost:3000/img/unete-img.jpg"); 
    height: 400px;
    border-radius: 15px;


    justify-content: center;
    align-items: center;
    width: 92%;
}

.title-unete{
    font-family: 'Playfair', serif;
    font-weight: 500;
    font-size: 60px;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 110px;
}

.text-unete{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: whitesmoke;
}

.btn-unete{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-radius: 30px;
    border: solid 1px #ffffff;
    padding: 10px 20px;
    text-decoration: none !important;
    text-decoration-line: none; 
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-unete:hover{
    background-color: #ffffff;
    border: solid 1px #ffffff;
    text-decoration: none;
    text-decoration-line: none; 
}
.link-unete{
    text-decoration: none;
    text-decoration-line: none; 
}


@media (max-width:600px) {
    .title-unete{
        font-size: 40px;
    }

    .text-unete{
        text-align: center;    
    }
}
